#selectedCards, #cardSelectionOptions, #cardOptions
{

	margin:5px;
	padding:5px;
	border: 4px dashed #008F11;
	text-align:center;

font-family: 'Alata', sans-serif;
}
#footer
{
	font-size:16px;
	font-family: 'Orbitron', sans-serif;
color:#FD5F00;
}

#subfactionwrapper
{
	display:none;
}
h3
{
font-family: 'Orbitron', sans-serif;
color:#FD5F00;

}
body
{
	background-color:#0D0208;
}

#filter
{
	width:95%;
	background-color:#784668;
	font-size:50px;
	height:60px;
	font-weight:bold;
	margin:auto;
	margin-top:10px;
	color:white;
	cursor:pointer;
	font-family: 'Orbitron', sans-serif;

}
.subtitle
{
	font-size:22px;
	clear:both;
	display:block;
	margin-top:5px;
	font-style:bold;
	font-family: 'Orbitron', sans-serif;

}
.cardbox
{
	border: 3px solid purple;
	width:95%;
	margin:auto;
	margin-top:15px;
	background-color:#F5F5F5;

}
.cardTitleContainer
{
	width:100%;
	height:auto;


}
.cardTitle
{

	width:60%;
	font-size:50px;
	font-weight:bold;
	text-align:left;
	padding:5px;
	font-family: 'Orbitron', sans-serif;
	text-decoration: underline;
	text-decoration-color: #FD5F00;
	float:left;
}
.cardSelect
{

		background-color:#008F11;
		color:white;
		float:right;
		width:30%;
		padding-left:5px;
		margin-top:1px;
		padding-top:7px;
		font-size:45px;
		height:60px;
		vertical-align: text-bottom;
		font-weight:bold;
		font-family: 'Orbitron', sans-serif;
		display:none;

}
.cardDeselect
{
		cursor:pointer;
		background-color:#8B0000;
		color:white;
		float:right;
		width:18%;
		padding-left:5px;
		margin-top:1px;
		padding-top:7px;
		font-size:45px;
		vertical-align: text-bottom;
		font-weight:bold;
		font-family: 'Orbitron', sans-serif;

}
.cardCondition
{

		width:99%;
		padding:5px;
		text-align:left;
		font-size:20px;
		clear:both;
		border-bottom: 1px dashed  #FD5F00 ;
}
.cardDetails
{

		width:99%;
		padding:5px;
		text-align:left;
		font-size:20px;
		clear:both;
		background-color:#EDEDED;
}
select
{
	width:95%;
	height:60px;
	font-size:35px;
	font-family: 'Orbitron', sans-serif;
	font-weight:bold;
}
input
{
	width:95%;
	height:60px;
	font-size:35px;
	font-family: 'Orbitron', sans-serif;
	font-weight:bold;
}
